.routerInfo {
    text-align:left;
    background-color: rgba(200,200, 200, .75);
}

.routerInfo h2 {
    text-align: center;
}
.authInfo {
    text-align: left;
    background-color: rgba(50,50,50,.75);
    color: white;
}