@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.App {
    font-family: 'Fira Code', monospace;
    min-height: 84vh;
    margin-bottom: 0 !important;
    text-align: center;
}

